img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-right: 40px;
    float: left;
}

.main {
    padding: 50px;
    border: 1px solid whitesmoke;
    background-color: gray;
    border-radius: 5px;
    margin-bottom: 20px;
}